.wrapper {
    background-color: #e7e7e7;
}

.input{    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    height: 30px;
    margin-top: 5px;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

.input:focus{
    /* To give a little highlight on active elements */
    border-color: #eee;
}

.filedset {
    width: 150px;
    border-top: 100px;
}

.form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

