.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: #303130;
  color: #f1f1f1;
  padding-left: 10px;

  .directory {

  }

  .menu {
    z-index: 10005;
    position: fixed;
    background-color: #303130;
    border: solid 1px #303140;

    &.hidden {
      display: none;
    }

    .option {
      padding: 6px 50px 5px 10px;
      min-width: 160px;
      cursor: default;
      font-size: 12px;
      &:hover {
        background: linear-gradient(to top, #555, #333);
        color: white;
      }

      &:active {
        color: #e9e9e9;
        background: linear-gradient(to top, #555, #444);
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background: #CCCCCC;
      margin: 0 0 0 0;
    }
  }
}