.wrapper {
  width: 100%;
  height: 100%;
  background-color: #1b1a25;
  overflow-y: auto;

  .main {
    width: 100%;
    height: 100%;
    background-image: url('https://static1.squarespace.com/static/567458eda128e6372f9c1656/t/58bef47c86e6c05548073060/1488909503692/coding-tutoring-nyc.jpg');
    background-size: cover;
    opacity: 0.4;
  }
  .intro{
    position: absolute;
    color: white;
    width: 463px;
    top:calc(70% - 250px);
    left:calc(50% - 231.5px);
    font-weight: 800;
    font-size: 260%;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
  }
  .subIntro{
    position: absolute;
    color: white;
    width: 740px;
    top:calc(85% - 250px);
    left:calc(50% - 370px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 280%;
  }

  .chatWrapper {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
