.wrapper {
  z-index: 1;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 20px;
  justify-content: space-between;

  .logo {
    color: white;
  }

  .menu {
    display: flex;

    .button {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        color: snow;
      }
    }
  }
}