.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.createClassWrapper{
  padding:1%;
  margin-top: 2%;
  background-color: #6e726f;
  opacity: 0.8;
}

.bgControl{
  margin-top: 2%;
  background-color:#e9ecef;
  padding:2.5%;
}
.searchWrapper{
  margin-top: 1%;
  padding: 2%;
}

.btnWrapper{
  padding: 3%;
}

.groupBtn{
  padding: 1%;
  margin-left: 7%;
}

.languageBtn{
  padding: 1%;
  margin-left: 7%;
}

.inputGroup{
  padding-left: 10%;
  padding-right: 15%;
}
