# # Debug log from npm
logs
*.log

# production
/build/*.eot
/build/*.svg
/build/*.woff2
/build/*.woff
/build/*.ttf
/build/bundle.js
/build/main.js
/build/style.css

# dependencies
/node_modules

# WebStorm
.idea/

# exclude
!build/index.html
