.classWrapper{
  margin-left: 3%;
  margin-top: 3%;
  width:100%;
  height: 40%;
  padding-bottom: 2%;
}
.classTitle{
  margin: 15% 3% 3% 3%;
  display:block;
  text-align: center;
  height: 70px;
  padding-top: 5%;
  font-size: 100%;
  font-style: italic;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;

}
.classNickName{
  margin-top: 20%;
  padding:5%;
  font-size: 80%;
  height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
}

.cardWrapper{
  width:15%;
  margin-left: 2%;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133,0.22);
  background: #ffffff;
}
.cardWrapper :hover{
  opacity: 0.75;
}

.classLanguage{
  text-align: center;
  padding:4%;
  font-size: 80%;
  height: 50px;
  font-weight: 500;
  opacity: 0.8;
}
.modalHeader{
  background-color: #1934af;
  color:white;
  opacity: 0.9;
}
.modalBodyStyle{
}