.wrapper {
  position:relative;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  .wrapperTitle{
      display: table;
      height: 30%;
      width:100%;
  }
  .sopadTitle{
    display: table-cell;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }
  .coddingImg{
    margin-right: 5px;
    margin-right: 5px;

    width: 100%;
    margin: auto;
  }
}
