.wrapper{
  width: 100%;
  height: 100%;
  padding-top: 5%;
  background-color: rgba(0, 0, 0, 0.03);
  margin-top: 4%;
}
.headWrapper{
  width:90%;
  height: 100%;
  margin-left: 5%;
}
.head{
  width: 50%;
  text-align: center;
}
.subHead{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: 600;
  font-size: 300%;
  color: #ff3d55;
  opacity: 0.8;
}
