.wrapper {
  width: 30%;
  height: 100%;
  background-color: #000;
  position: absolute;
  box-sizing: border-box;
  border: solid 24px #252525;
  right: 0;

  .join {
    color: white;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .waitDescription {
      margin-bottom: 15px;
    }

    .camera {
      display: flex;
      width: 50px;
      height: 50px;
      border: 2px solid #0000af;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        border-color: white;

        i {
          color: white;
        }
      }

      i {
        color: #0000af;
      }
    }
  }

  .videoWrapper {
    height: 100%;

    .optionWrapper {
      display: none;
    }

    &:hover {
      .optionWrapper {
          position: absolute;
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: center;

      }
    }

    .local-video, .remote-video {
      width: 100%;
      height: 50%;

      &.hidden {
        display: none;
      }
    }

    .cover {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50%;
      font-size: 150px;

      &.hidden {
        display: none;
      }
    }
  }

  .buttons {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    .button {
        display: flex;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        &.mute {
          background-color: white;

          i {
            color: black;
          }
        }

        i {
          font-size: 24px;
          color: white;
        }
    }
  }
}