.wrapper {
  width: 100%;
  min-width: 1200px;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 4%;
  padding-bottom: 4%;
  opacity: 0.8;
}

.colWrapper{
  display: inline-block;
  width:25%;
  text-align: center;
}
.colData{
   height: 150px;
   width: 80%;
  margin-left: 10%;
  background-color: white;
  border-radius: 3rem;
  border: 10px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #d53445 0%, #d5d569 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #d53445 0%, #d5d569 100%);
  border-image: linear-gradient(to bottom, #d53445 0%, #d5d569 100%);
  border-image-slice: 1;
}
.colData:hover{
  opacity: 0.9;
}
.classLanguage{
  text-align: center;
  font-size: 110%;
  margin-top: 10%;
  opacity: 0.9;
  font-family: "맑은 고딕";
}
.classTitle{
  margin-top: 10%;
  overflow: hidden;
  text-align: center;
  font-family: "맑은 고딕";
  font-size: 180%;
}

.plusBtn{
  margin-left: 30%;
  margin-top: 30%;
  width: 100px;
  height: 100px;
}
.plusBtn:hover{
  opacity: 0.7;
}

.modalHeader{

  background: #DA22FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  opacity: 0.9;
}
.labels{
  font-size: 110%;
  opacity: 0.8;
  color: #5254ff;
  font-weight: 800;
}
.modalContent{
  font-size: 130%;
  font-family: "맑은 고딕";
  word-break:break-all;
}
.modalLanguage{
  font-size: 200%;
  font-family: "맑은 고딕";
}
.modalLanguageLabel{
  font-size: 110%;
  opacity: 0.8;
  color: #5254ff;
  font-weight: 800;}
.box{
  padding:5%;
}