.modalHeader{
  background-color: #1934af;
  color:white;
  opacity: 0.9;
}
.modalBodyStyle{
}
.userBox{
  padding:5%;
}
.labels{
  color: #5254ff;
  font-size: 150%;
  font-weight: 800;
  opacity: 0.8;
}
.contents{
  padding: 1%;
  font-size: 120%;
  font-weight: 500;
  opacity: 0.8;
}
.languages{
  font-size: 200%;
  font-weight: 500;
  opacity: 0.9;
}