.wrapper {
  position: absolute;
  min-height: 60px;
  height: calc(100% - 24px);
  top: 24px;
  right: 0;
  left: 0;

  .textArea {
    display: none;
  }

  .blackBoard {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;

    &.hidden {
      display: none;
    }
  }
}