.wrapper{
  margin-top: 1%;
  padding: 2%;
}

.btnWrapper{
  padding: 3%;
}

.groupBtn{
  padding: 1%;
  margin-left: 7%;
}

.languageBtn{
  padding: 1%;
  margin-left: 7%;
}

.inputGroup{
  padding-left: 10%;
  padding-right: 15%;
}
