.wrapper {
  position: absolute;
  display: flex;
  width: 240px;
  min-width: 40px;
  left: 0;
  top: 0;
  bottom: 0;

  .tab {
    width: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.06);
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 -1px 0 black;
    background: #252525;
    white-space: nowrap;
    color: #f1f1f1;
  }
}