.wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 30px;
  top: 0;
  align-items: center;
  background: #252525;
  box-shadow: 0 1px 0 0 #353535;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: #d6d6d6;

  .title {
    padding: 0 10px;
    border-right: 1px solid black;
    color: #1b6ec2;
  }

  .option {
    display: flex;

    .runOption {
      display: flex;
      align-items: center;
      margin: 0 10px 0 10px;
      cursor: pointer;

      .runIcon {
        color: #00af00;
        margin-right: 5px;
      }

      .text {

      }

    }
    .runOption:hover{
      opacity: 0.8;
    }
  }
}