.wrapper {
  position: absolute;
  min-height: 60px;
  width: 70%;
  height: calc(100% - 200px);
  top: 0;
  right: 0;
  left: 0;

  .tab {
    display: flex;
    background-color: #252525;
    align-items: center;
    height: 24px;

    .item {
      margin: 0 5px;
      padding: 3px;
      border: solid 1px;
      border-bottom: none;
      color: #adadad;
      cursor: pointer;

      &.selected {
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }
}