.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.classHead{
  margin-top: 3%;
  padding-top: 9%;
  padding-bottom: 9%;
  text-align: center;
  font-size: 300%;
  font-style: italic;
  opacity: 0.8;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}