.wrapper{
  width:100%;
  background-image: url('../../../styles/background/classBG.jpg');
  background-size: 100% 100%;
  padding-top: 9%;
  padding-bottom: 9%;
}


.introBtnWrapper{
  width: 400px;
  margin: 0 auto;
  margin-top: 3%;
}
.introBtn{

  margin-left: 10%;
}
.head{
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 3%;
  text-align: center;
  color: #ffffff;
  font-size: 300%;
  font-style: italic;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.infoWrapper{
  width: 90%;
  margin-left: 4%;
  margin-top: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.labelDisplay{
  margin-left: 5px;
  font-size: 140%;
  padding-bottom: 5px;
  font-weight: 500;
}

.checkBox{
  margin-left: 5%;
}
.labelWrapper{
  padding-top: 1.5%;
  padding-bottom: 2.5%;
}
.subHead{
  padding-top: 8%;
  margin-left: 10%;
}
.area{
  white-space: pre-line;
  height: 300px;
}
.modalTitle{
  background-color: blue;
  color:white;
  opacity: 0.8;
}

.statusBtn{
  float: right;
}
.day{
  margin-left: 5%;
  font-size: 140%;
}
.dayWrapper{
  margin-left: 2%;
}

.time{
 margin-left: 3%;
}
.subLabel{
  margin-left: 33.5%;
}
.langBtnWrapper{
  text-align: center;
}