.wrapper{
  margin-top: 3%;
  width:100%;
  background-color: #00000F;
  opacity: 0.8;
  padding-top: 3%;
  padding-bottom: 2%;

}

.introBtnWrapper{
  margin-left: 32%;
  margin-top: 3%;

}
.introBtn{
  margin-left: 5%;
}
.head{
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 3%;
  text-align: center;
  color: #ffffff;
  font-size: 300%;
  font-style: italic;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
